 <h2> Produtos:
 @if (produtoSelecionado()){
    <strong style="color: green">
        {{ produtoSelecionado() }}</strong>
}@else { 
    <span style="color: gray">Nenhum produto selecionado</span>

}
</h2>


  <!--Estado 1: Loading-->
@if (carregando()) {
    <p>Carregando Produtos...</p>
}

  <!--Estado 2: Erro-->
  @if (erro()){
    <p style="color: red;">{{ erro() }}</p>
    <button (click)="carregarProdutos()">Tentar novamente</button>
  }
 <!--Estado 3: Sucesso-->
 @if (!carregando() && !erro()){
    <p>Total de Produtos: {{ totalProdutos() }}</p>

    <hr>
    <section class = "grid-produtos">
@for(item of produtos(); track $index){
    <app-produto 
        [nome] = "item.nome"
        [preco] = "item.preco"
        (produtoSelecionado)="exibirProduto($event)"
        (produtoAdicionado)="adicionarAoCarrinho($event)"
        >

    </app-produto>
    <!-- <button (click)="adicionarAoCarrinho(item)"> Adicionar ao Carrinho </button> -->
    }
    </section>

}