<h2>
Produto Selecionado: 
@if (produtoSelecionado()){
    <strong style="color: green">
        {{ produtoSelecionado() }}</strong>
}@else { 
    <span style="color: gray">Nenhum produto selecionado</span>
}
</h2>
@for (item of produtos(); track item){
    <app-produto [nome] = "item.nome" [preco] = "item.preco"
    [nome] = "item.nome" 
    [preco] = "item.preco"
    (produtoSelecionado)="exibirProduto($event)">
    </app-produto>
}
<p><button (click)="adicionarProduto()">Adicionar Produto</button></p>
<h2>Total de produtos: {{ totalProdutos() }}</h2>
<h3>Valor total: {{ valorTotal() | precoFormatado }}</h3>
<p><button (click)="substituirProduto('Arroz', 'Arroz Fazenda', 12.99)">Substituir Produto</button></p>

<!--adiciona botao para substituir produto-->