/* 1. Criei a caxa sem mexer no html*/
:host {
    display: block;
    max-width: 400px;
    margin: 40px auto;         
    text-align: center;        
    border: 1px solid #ddd;    
    border-radius: 60px;    
    padding: 24px;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}


h2 {
    color: #333;
    margin-top: 0;
}

label {
    display: block;
    font-weight: bold;
    color: #444;
    margin-top: 15px;
    text-align: left;
}


p {
    margin: 5px 0;
}


input {
    width: 100%;
    border: 1px solid #c9c9c9;
    border-radius: 25px;       
    padding: 10px;
    box-sizing: border-box;
    text-align: center;        
    outline: none;
}

input:focus {
    border-color: rgb(17, 93, 163); 
}

small {
    display: block;
    color: red !important;     
    margin-bottom: 8px;
    font-size: 13px;
}

button {
    width: 100%;
    background-color: rgb(255, 255, 255); 
    color: white;
    padding: 12px;
    border: 1px solid black;
    border-radius: 25px; 
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}
button:hover:not([disabled]) {
    background-color: #ddd; 
    border: 1px solid rgb(53, 53, 53)
}

button[disabled] {
    background-color: #e0e0e0;
    color: #999999;     
}
.button-entrar{
    background-color: #ffffff;
    border: 1px solid rgb(17, 93, 163);
    color: #084992;
}
.senha-container {
    position: relative; 
}
.btn-olho {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #666;
    width: auto;
    padding: 0;
}